/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
/* utility */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding-top: 50px;
}

.mg {
    margin-top: 20px;
}
/* layout */
.container {
    width: 90%;
    margin: 0 auto;
}

/* header */
header {
    background-color: #0084FD;
    height: 60px;
    color: white;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    margin-left: auto;
    margin-right: 20px;
    
}

.menu li{
    margin-right: 15px;
}

.menu ul{
    display: none;
}

/* RESPONSIVE */

/* display desktop */
@media screen and (min-width: 992px) {
    .menu ul {
        display: flex;
    }
}

/* /header */

/* main */
section.first .col {
    width: 100%;
    background-color: #B5DDFF;
    /* debug */
    height: 350px;
    padding: 10px;
    border-radius: 20px;
}

section.first .col:first-child {
    height: 500px;
    padding: 10px;
}

.first .card {
    /* debug */
    height: 140px;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
}

/* RESPONSIVE */
/* tablet version */
@media screen and (min-width: 768px) {
    section.first .col {
        width: calc(100% / 3 - 20px);
        margin: 0 10px;
        margin-bottom: 10px;
        /* debug */
        
    }
    
    section.first .col:first-child {
        width: calc( 100% / 3 * 2 - 20px);
        margin-bottom: 10px;
    }

}

/* desktop version */

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}



/* /main */


